@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bussiness Manager</h1>
    <br />
    <h3>Are you tired of using Excel to manage your imaginary employees? Fear no more!</h3>
    <br />
    <br />
    <h2>Here is this innovative, FREE and easy to use software to never let your employees rest even a tiny bit between tasks!</h2>
</div>