@model BussinessManager3.Models.Department

@{
    ViewData["Title"] = "Edit";
}
<div style="background:aquamarine; opacity:0.9">
    <h1 style="background:aquamarine; opacity:0.9">Edit</h1>

    <h4 style="background:aquamarine; opacity:0.9">Department</h4>
    <hr style="background:aquamarine; opacity:0.9" />
    <div class="row" style="background:aquamarine; opacity:0.9">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DepartmentId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Field" class="control-label"></label>
                    <input asp-for="Field" class="form-control" />
                    <span asp-validation-for="Field" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}